// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.desktopvirtualization.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.management.polling.PollResult;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.core.util.polling.PollerFlux;
import com.azure.core.util.polling.SyncPoller;
import com.azure.resourcemanager.desktopvirtualization.fluent.HostPoolPostsClient;
import com.azure.resourcemanager.desktopvirtualization.fluent.models.HostPoolUpdateValidationResponseInner;
import com.azure.resourcemanager.desktopvirtualization.models.HostPoolUpdate;
import java.nio.ByteBuffer;
import reactor.core.publisher.Flux;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in HostPoolPostsClient. */
public final class HostPoolPostsClientImpl implements HostPoolPostsClient {
    private final ClientLogger logger = new ClientLogger(HostPoolPostsClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final HostPoolPostsService service;

    /** The service client containing this operation class. */
    private final DesktopVirtualizationApiClientImpl client;

    /**
     * Initializes an instance of HostPoolPostsClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    HostPoolPostsClientImpl(DesktopVirtualizationApiClientImpl client) {
        this.service =
            RestProxy.create(HostPoolPostsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for DesktopVirtualizationApiClientHostPoolPosts to be used by the proxy
     * service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "DesktopVirtualizatio")
    private interface HostPoolPostsService {
        @Headers({"Content-Type: application/json"})
        @Post(
            "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers"
                + "/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/update")
        @ExpectedResponses({200, 202})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Flux<ByteBuffer>>> update(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("hostPoolName") String hostPoolName,
            @BodyParam("application/json") HostPoolUpdate hostPoolUpdate,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Initiate update of a hostpool.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param hostPoolName The name of the host pool within the specified resource group.
     * @param hostPoolUpdate Object containing HostPool update definitions.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return errors and warnings returned by hostpool update validation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> updateWithResponseAsync(
        String resourceGroupName, String hostPoolName, HostPoolUpdate hostPoolUpdate) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (hostPoolName == null) {
            return Mono.error(new IllegalArgumentException("Parameter hostPoolName is required and cannot be null."));
        }
        if (hostPoolUpdate == null) {
            return Mono.error(new IllegalArgumentException("Parameter hostPoolUpdate is required and cannot be null."));
        } else {
            hostPoolUpdate.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .update(
                            this.client.getEndpoint(),
                            this.client.getApiVersion(),
                            this.client.getSubscriptionId(),
                            resourceGroupName,
                            hostPoolName,
                            hostPoolUpdate,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Initiate update of a hostpool.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param hostPoolName The name of the host pool within the specified resource group.
     * @param hostPoolUpdate Object containing HostPool update definitions.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return errors and warnings returned by hostpool update validation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> updateWithResponseAsync(
        String resourceGroupName, String hostPoolName, HostPoolUpdate hostPoolUpdate, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (hostPoolName == null) {
            return Mono.error(new IllegalArgumentException("Parameter hostPoolName is required and cannot be null."));
        }
        if (hostPoolUpdate == null) {
            return Mono.error(new IllegalArgumentException("Parameter hostPoolUpdate is required and cannot be null."));
        } else {
            hostPoolUpdate.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .update(
                this.client.getEndpoint(),
                this.client.getApiVersion(),
                this.client.getSubscriptionId(),
                resourceGroupName,
                hostPoolName,
                hostPoolUpdate,
                accept,
                context);
    }

    /**
     * Initiate update of a hostpool.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param hostPoolName The name of the host pool within the specified resource group.
     * @param hostPoolUpdate Object containing HostPool update definitions.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return errors and warnings returned by hostpool update validation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private PollerFlux<PollResult<HostPoolUpdateValidationResponseInner>, HostPoolUpdateValidationResponseInner>
        beginUpdateAsync(String resourceGroupName, String hostPoolName, HostPoolUpdate hostPoolUpdate) {
        Mono<Response<Flux<ByteBuffer>>> mono =
            updateWithResponseAsync(resourceGroupName, hostPoolName, hostPoolUpdate);
        return this
            .client
            .<HostPoolUpdateValidationResponseInner, HostPoolUpdateValidationResponseInner>getLroResult(
                mono,
                this.client.getHttpPipeline(),
                HostPoolUpdateValidationResponseInner.class,
                HostPoolUpdateValidationResponseInner.class,
                Context.NONE);
    }

    /**
     * Initiate update of a hostpool.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param hostPoolName The name of the host pool within the specified resource group.
     * @param hostPoolUpdate Object containing HostPool update definitions.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return errors and warnings returned by hostpool update validation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private PollerFlux<PollResult<HostPoolUpdateValidationResponseInner>, HostPoolUpdateValidationResponseInner>
        beginUpdateAsync(
            String resourceGroupName, String hostPoolName, HostPoolUpdate hostPoolUpdate, Context context) {
        context = this.client.mergeContext(context);
        Mono<Response<Flux<ByteBuffer>>> mono =
            updateWithResponseAsync(resourceGroupName, hostPoolName, hostPoolUpdate, context);
        return this
            .client
            .<HostPoolUpdateValidationResponseInner, HostPoolUpdateValidationResponseInner>getLroResult(
                mono,
                this.client.getHttpPipeline(),
                HostPoolUpdateValidationResponseInner.class,
                HostPoolUpdateValidationResponseInner.class,
                context);
    }

    /**
     * Initiate update of a hostpool.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param hostPoolName The name of the host pool within the specified resource group.
     * @param hostPoolUpdate Object containing HostPool update definitions.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return errors and warnings returned by hostpool update validation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public SyncPoller<PollResult<HostPoolUpdateValidationResponseInner>, HostPoolUpdateValidationResponseInner>
        beginUpdate(String resourceGroupName, String hostPoolName, HostPoolUpdate hostPoolUpdate) {
        return beginUpdateAsync(resourceGroupName, hostPoolName, hostPoolUpdate).getSyncPoller();
    }

    /**
     * Initiate update of a hostpool.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param hostPoolName The name of the host pool within the specified resource group.
     * @param hostPoolUpdate Object containing HostPool update definitions.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return errors and warnings returned by hostpool update validation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public SyncPoller<PollResult<HostPoolUpdateValidationResponseInner>, HostPoolUpdateValidationResponseInner>
        beginUpdate(String resourceGroupName, String hostPoolName, HostPoolUpdate hostPoolUpdate, Context context) {
        return beginUpdateAsync(resourceGroupName, hostPoolName, hostPoolUpdate, context).getSyncPoller();
    }

    /**
     * Initiate update of a hostpool.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param hostPoolName The name of the host pool within the specified resource group.
     * @param hostPoolUpdate Object containing HostPool update definitions.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return errors and warnings returned by hostpool update validation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<HostPoolUpdateValidationResponseInner> updateAsync(
        String resourceGroupName, String hostPoolName, HostPoolUpdate hostPoolUpdate) {
        return beginUpdateAsync(resourceGroupName, hostPoolName, hostPoolUpdate)
            .last()
            .flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Initiate update of a hostpool.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param hostPoolName The name of the host pool within the specified resource group.
     * @param hostPoolUpdate Object containing HostPool update definitions.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return errors and warnings returned by hostpool update validation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<HostPoolUpdateValidationResponseInner> updateAsync(
        String resourceGroupName, String hostPoolName, HostPoolUpdate hostPoolUpdate, Context context) {
        return beginUpdateAsync(resourceGroupName, hostPoolName, hostPoolUpdate, context)
            .last()
            .flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Initiate update of a hostpool.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param hostPoolName The name of the host pool within the specified resource group.
     * @param hostPoolUpdate Object containing HostPool update definitions.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return errors and warnings returned by hostpool update validation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public HostPoolUpdateValidationResponseInner update(
        String resourceGroupName, String hostPoolName, HostPoolUpdate hostPoolUpdate) {
        return updateAsync(resourceGroupName, hostPoolName, hostPoolUpdate).block();
    }

    /**
     * Initiate update of a hostpool.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param hostPoolName The name of the host pool within the specified resource group.
     * @param hostPoolUpdate Object containing HostPool update definitions.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return errors and warnings returned by hostpool update validation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public HostPoolUpdateValidationResponseInner update(
        String resourceGroupName, String hostPoolName, HostPoolUpdate hostPoolUpdate, Context context) {
        return updateAsync(resourceGroupName, hostPoolName, hostPoolUpdate, context).block();
    }
}
