// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.datalakestore.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.datalakestore.fluent.VirtualNetworkOrSubnetsClient;
import com.azure.resourcemanager.datalakestore.models.DeleteVirtualNetworkOrSubnetsParameters;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in VirtualNetworkOrSubnetsClient. */
public final class VirtualNetworkOrSubnetsClientImpl implements VirtualNetworkOrSubnetsClient {
    private final ClientLogger logger = new ClientLogger(VirtualNetworkOrSubnetsClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final VirtualNetworkOrSubnetsService service;

    /** The service client containing this operation class. */
    private final DataLakeStoreAccountManagementClientImpl client;

    /**
     * Initializes an instance of VirtualNetworkOrSubnetsClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    VirtualNetworkOrSubnetsClientImpl(DataLakeStoreAccountManagementClientImpl client) {
        this.service =
            RestProxy
                .create(VirtualNetworkOrSubnetsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for DataLakeStoreAccountManagementClientVirtualNetworkOrSubnets to be
     * used by the proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "DataLakeStoreAccount")
    private interface VirtualNetworkOrSubnetsService {
        @Headers({"Content-Type: application/json"})
        @Post(
            "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}"
                + "/deleteVirtualNetworkOrSubnets")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Void>> deleteById(
            @HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("location") String location,
            @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") DeleteVirtualNetworkOrSubnetsParameters parameters,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Delete virtual network or subnets.
     *
     * @param location The resource location without whitespace.
     * @param parameters Parameters supplied to DeleteVirtualNetworkOrSubnets.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the completion.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> deleteByIdWithResponseAsync(
        String location, DeleteVirtualNetworkOrSubnetsParameters parameters) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (parameters == null) {
            return Mono.error(new IllegalArgumentException("Parameter parameters is required and cannot be null."));
        } else {
            parameters.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .deleteById(
                            this.client.getEndpoint(),
                            this.client.getSubscriptionId(),
                            location,
                            this.client.getApiVersion(),
                            parameters,
                            accept,
                            context))
            .subscriberContext(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext())));
    }

    /**
     * Delete virtual network or subnets.
     *
     * @param location The resource location without whitespace.
     * @param parameters Parameters supplied to DeleteVirtualNetworkOrSubnets.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the completion.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> deleteByIdWithResponseAsync(
        String location, DeleteVirtualNetworkOrSubnetsParameters parameters, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (parameters == null) {
            return Mono.error(new IllegalArgumentException("Parameter parameters is required and cannot be null."));
        } else {
            parameters.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .deleteById(
                this.client.getEndpoint(),
                this.client.getSubscriptionId(),
                location,
                this.client.getApiVersion(),
                parameters,
                accept,
                context);
    }

    /**
     * Delete virtual network or subnets.
     *
     * @param location The resource location without whitespace.
     * @param parameters Parameters supplied to DeleteVirtualNetworkOrSubnets.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the completion.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Void> deleteByIdAsync(String location, DeleteVirtualNetworkOrSubnetsParameters parameters) {
        return deleteByIdWithResponseAsync(location, parameters).flatMap((Response<Void> res) -> Mono.empty());
    }

    /**
     * Delete virtual network or subnets.
     *
     * @param location The resource location without whitespace.
     * @param parameters Parameters supplied to DeleteVirtualNetworkOrSubnets.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public void deleteById(String location, DeleteVirtualNetworkOrSubnetsParameters parameters) {
        deleteByIdAsync(location, parameters).block();
    }

    /**
     * Delete virtual network or subnets.
     *
     * @param location The resource location without whitespace.
     * @param parameters Parameters supplied to DeleteVirtualNetworkOrSubnets.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<Void> deleteByIdWithResponse(
        String location, DeleteVirtualNetworkOrSubnetsParameters parameters, Context context) {
        return deleteByIdWithResponseAsync(location, parameters, context).block();
    }
}
