// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.servicefabric.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.management.polling.PollResult;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.core.util.polling.PollerFlux;
import com.azure.core.util.polling.SyncPoller;
import com.azure.resourcemanager.servicefabric.fluent.ApplicationManualUpgradesClient;
import com.azure.resourcemanager.servicefabric.fluent.models.ApplicationResourceInner;
import com.azure.resourcemanager.servicefabric.models.ResumeApplicationUpgradeDescription;
import java.nio.ByteBuffer;
import reactor.core.publisher.Flux;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in ApplicationManualUpgradesClient. */
public final class ApplicationManualUpgradesClientImpl implements ApplicationManualUpgradesClient {
    private final ClientLogger logger = new ClientLogger(ApplicationManualUpgradesClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final ApplicationManualUpgradesService service;

    /** The service client containing this operation class. */
    private final ServiceFabricManagementClientImpl client;

    /**
     * Initializes an instance of ApplicationManualUpgradesClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    ApplicationManualUpgradesClientImpl(ServiceFabricManagementClientImpl client) {
        this.service =
            RestProxy
                .create(
                    ApplicationManualUpgradesService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for ServiceFabricManagementClientApplicationManualUpgrades to be used by
     * the proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "ServiceFabricManagem")
    private interface ApplicationManualUpgradesService {
        @Headers({"Content-Type: application/json"})
        @Post(
            "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric"
                + "/clusters/{clusterName}/applications/{applicationName}/upgrade")
        @ExpectedResponses({202})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Flux<ByteBuffer>>> upgrade(
            @HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("clusterName") String clusterName,
            @PathParam("applicationName") String applicationName,
            @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") ResumeApplicationUpgradeDescription parameters,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Resume manual upgrade for a Service Fabric application resource with the specified upgrade domain.
     *
     * @param resourceGroupName The name of the resource group.
     * @param clusterName The name of the cluster resource.
     * @param applicationName The name of the application resource.
     * @param parameters Resume application upgrade description with the target upgrade domain.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the application resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> upgradeWithResponseAsync(
        String resourceGroupName,
        String clusterName,
        String applicationName,
        ResumeApplicationUpgradeDescription parameters) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (clusterName == null) {
            return Mono.error(new IllegalArgumentException("Parameter clusterName is required and cannot be null."));
        }
        if (applicationName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter applicationName is required and cannot be null."));
        }
        if (parameters == null) {
            return Mono.error(new IllegalArgumentException("Parameter parameters is required and cannot be null."));
        } else {
            parameters.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .upgrade(
                            this.client.getEndpoint(),
                            this.client.getSubscriptionId(),
                            resourceGroupName,
                            clusterName,
                            applicationName,
                            this.client.getApiVersion(),
                            parameters,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Resume manual upgrade for a Service Fabric application resource with the specified upgrade domain.
     *
     * @param resourceGroupName The name of the resource group.
     * @param clusterName The name of the cluster resource.
     * @param applicationName The name of the application resource.
     * @param parameters Resume application upgrade description with the target upgrade domain.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the application resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> upgradeWithResponseAsync(
        String resourceGroupName,
        String clusterName,
        String applicationName,
        ResumeApplicationUpgradeDescription parameters,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (clusterName == null) {
            return Mono.error(new IllegalArgumentException("Parameter clusterName is required and cannot be null."));
        }
        if (applicationName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter applicationName is required and cannot be null."));
        }
        if (parameters == null) {
            return Mono.error(new IllegalArgumentException("Parameter parameters is required and cannot be null."));
        } else {
            parameters.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .upgrade(
                this.client.getEndpoint(),
                this.client.getSubscriptionId(),
                resourceGroupName,
                clusterName,
                applicationName,
                this.client.getApiVersion(),
                parameters,
                accept,
                context);
    }

    /**
     * Resume manual upgrade for a Service Fabric application resource with the specified upgrade domain.
     *
     * @param resourceGroupName The name of the resource group.
     * @param clusterName The name of the cluster resource.
     * @param applicationName The name of the application resource.
     * @param parameters Resume application upgrade description with the target upgrade domain.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the application resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private PollerFlux<PollResult<ApplicationResourceInner>, ApplicationResourceInner> beginUpgradeAsync(
        String resourceGroupName,
        String clusterName,
        String applicationName,
        ResumeApplicationUpgradeDescription parameters) {
        Mono<Response<Flux<ByteBuffer>>> mono =
            upgradeWithResponseAsync(resourceGroupName, clusterName, applicationName, parameters);
        return this
            .client
            .<ApplicationResourceInner, ApplicationResourceInner>getLroResult(
                mono,
                this.client.getHttpPipeline(),
                ApplicationResourceInner.class,
                ApplicationResourceInner.class,
                Context.NONE);
    }

    /**
     * Resume manual upgrade for a Service Fabric application resource with the specified upgrade domain.
     *
     * @param resourceGroupName The name of the resource group.
     * @param clusterName The name of the cluster resource.
     * @param applicationName The name of the application resource.
     * @param parameters Resume application upgrade description with the target upgrade domain.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the application resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private PollerFlux<PollResult<ApplicationResourceInner>, ApplicationResourceInner> beginUpgradeAsync(
        String resourceGroupName,
        String clusterName,
        String applicationName,
        ResumeApplicationUpgradeDescription parameters,
        Context context) {
        context = this.client.mergeContext(context);
        Mono<Response<Flux<ByteBuffer>>> mono =
            upgradeWithResponseAsync(resourceGroupName, clusterName, applicationName, parameters, context);
        return this
            .client
            .<ApplicationResourceInner, ApplicationResourceInner>getLroResult(
                mono,
                this.client.getHttpPipeline(),
                ApplicationResourceInner.class,
                ApplicationResourceInner.class,
                context);
    }

    /**
     * Resume manual upgrade for a Service Fabric application resource with the specified upgrade domain.
     *
     * @param resourceGroupName The name of the resource group.
     * @param clusterName The name of the cluster resource.
     * @param applicationName The name of the application resource.
     * @param parameters Resume application upgrade description with the target upgrade domain.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the application resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public SyncPoller<PollResult<ApplicationResourceInner>, ApplicationResourceInner> beginUpgrade(
        String resourceGroupName,
        String clusterName,
        String applicationName,
        ResumeApplicationUpgradeDescription parameters) {
        return beginUpgradeAsync(resourceGroupName, clusterName, applicationName, parameters).getSyncPoller();
    }

    /**
     * Resume manual upgrade for a Service Fabric application resource with the specified upgrade domain.
     *
     * @param resourceGroupName The name of the resource group.
     * @param clusterName The name of the cluster resource.
     * @param applicationName The name of the application resource.
     * @param parameters Resume application upgrade description with the target upgrade domain.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the application resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public SyncPoller<PollResult<ApplicationResourceInner>, ApplicationResourceInner> beginUpgrade(
        String resourceGroupName,
        String clusterName,
        String applicationName,
        ResumeApplicationUpgradeDescription parameters,
        Context context) {
        return beginUpgradeAsync(resourceGroupName, clusterName, applicationName, parameters, context).getSyncPoller();
    }

    /**
     * Resume manual upgrade for a Service Fabric application resource with the specified upgrade domain.
     *
     * @param resourceGroupName The name of the resource group.
     * @param clusterName The name of the cluster resource.
     * @param applicationName The name of the application resource.
     * @param parameters Resume application upgrade description with the target upgrade domain.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the application resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<ApplicationResourceInner> upgradeAsync(
        String resourceGroupName,
        String clusterName,
        String applicationName,
        ResumeApplicationUpgradeDescription parameters) {
        return beginUpgradeAsync(resourceGroupName, clusterName, applicationName, parameters)
            .last()
            .flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Resume manual upgrade for a Service Fabric application resource with the specified upgrade domain.
     *
     * @param resourceGroupName The name of the resource group.
     * @param clusterName The name of the cluster resource.
     * @param applicationName The name of the application resource.
     * @param parameters Resume application upgrade description with the target upgrade domain.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the application resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<ApplicationResourceInner> upgradeAsync(
        String resourceGroupName,
        String clusterName,
        String applicationName,
        ResumeApplicationUpgradeDescription parameters,
        Context context) {
        return beginUpgradeAsync(resourceGroupName, clusterName, applicationName, parameters, context)
            .last()
            .flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Resume manual upgrade for a Service Fabric application resource with the specified upgrade domain.
     *
     * @param resourceGroupName The name of the resource group.
     * @param clusterName The name of the cluster resource.
     * @param applicationName The name of the application resource.
     * @param parameters Resume application upgrade description with the target upgrade domain.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the application resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ApplicationResourceInner upgrade(
        String resourceGroupName,
        String clusterName,
        String applicationName,
        ResumeApplicationUpgradeDescription parameters) {
        return upgradeAsync(resourceGroupName, clusterName, applicationName, parameters).block();
    }

    /**
     * Resume manual upgrade for a Service Fabric application resource with the specified upgrade domain.
     *
     * @param resourceGroupName The name of the resource group.
     * @param clusterName The name of the cluster resource.
     * @param applicationName The name of the application resource.
     * @param parameters Resume application upgrade description with the target upgrade domain.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the application resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ApplicationResourceInner upgrade(
        String resourceGroupName,
        String clusterName,
        String applicationName,
        ResumeApplicationUpgradeDescription parameters,
        Context context) {
        return upgradeAsync(resourceGroupName, clusterName, applicationName, parameters, context).block();
    }
}
